<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<h2>Order Confirmation</h2>

<table>
    <tr>
        <th>Number of People:  </th>
        <br>
        <th>Flavors:</th>
        <br>
        <th>Toppings:</th>
    </tr>
    <tr>
        <td th:text="${icecream.people}"></td>
        <br/>
        <td th:text="${icecream.flavor}"></td>
        <br/>
        <td th:text="${icecream.toppings}"></td>
    </tr>
    </tr>
    </tr>
    </tr>
</table>

</body>
</html>