<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head" ></head>
    ​
<body>

<nav th:replace="fragments :: navigation"></nav>
​
<div>
        <h2>Snow Cone Social</h2>
        <p>Please Join Us for a Delicious Snow Cone Social</p>
    </div>

    <form class = "form" method="post" th:object="${orderSnowform}">
        <div class ="form-group">
            <label th:for="companyName">Company Name</label>
            <input class = "form-control" field="*{companyName}" />
        </div>
        <div class ="form-group">
            <label th:for="contactName">Contact Name</label>
            <input class = "form-control" field="*{contactName}" />
        </div>
        <div class ="form-group">
            <label th:for="address">Address</label>
            <input class = "form-control" field="*{address}" />
        </div>
        <div class ="form-group">
            <label th:for="phonenum">Phone Number</label>
            <input class = "form-control" field="*{phonenum}" />
        </div>
        <div>
        <label>Date of Social:</label>
        <input type="date" id="date"/><br>
        </div>

        <label for="time">Choose a time for your social:</label>
        <input class="form-control" type="time" id="time" name="time" min="09:00" max="24:00" required>
        </div>

        <br>

        <input class = "button" type = "submit" value = "Order a Snow Cone Social"/>
    </form>
</div>
​
</body>
</html>